{% extends 'base.html.twig' %}

{% block title %}Nouveau article{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="container form shadow-lg">
        <h1>Nouveau article</h1>

        {{ include('post/_form.html.twig') }}

        <a class="btn btn-outline-dark mt-3" href="{{ path('post_index') }}">Revenir a la liste</a>
    </div>

{% endblock %}
